/* yuser animation */
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eee5e5;
    font-family: 'Work Sans', sans-serif;
  }
  a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #000000;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
  }
  a:hover{
    color: #771515;
    background: #000000;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
    transition-delay: 1s;
  }

/* header */
header {
  padding: 90px;
  color: #000000;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1.5px;
}